*{

  margin: 0;

  border: 0;

  box-sizing: border-box; 

}

a{

  text-decoration: none; 

}

.links{

  margin: 1.5rem;

}

.listItem{

  margin: 1.5rem;

}

/* texto */

.centerText{

  text-align: center;

}

.underLine{

  text-decoration: none;

  font-weight: bold;

}

.lineThrough{

  text-decoration: line-through; 

}

.marked{

  font-size: 2rem;

  font-weight: bold; 

}


/* colores */
.red{

  color: red;

}

.white{

  color: white;

}

.black{

  color: black;

}

/* Cartas */

.card{

  margin: 1.5rem;

  border: 0.2rem black;

  padding-top: 0.5rem; 

}

.price{

  background-color: lightgrey;

  border: 0.2rem solid lightgrey; 

}

